@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

:root {
    --red: #AA1916;
    --blue: #3C6CA8;
    --darkblue: #00265B;
    --yellow: #FFD881;
    --darkyellow: #FFBD59;
    --green: #008F6D;
}

.fontawesomeicon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;


}

.Download::before {
    font: var(--fa-font-solid);
    content: ' \f019';

}

* {
    box-sizing: border-box;
    /*    margin: 0;
        padding: 0; */
    text-decoration: none;
    /*   border: none;
    outline: none; */
}

h1 {
    margin: 0px;
    font-family: 'Londrina Solid', cursive;
    font-size: 3.5em;
    text-align: left;
    color: #AA1916;
}

h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2.8em;
}

h3 {
    font-size: 1.8em;
}

p {
    font-size: 1em;
    color: #00265B;
    font-weight: bold;
}

.beneficios p1 {
    font-size: 20px;
    color: #008F6D
}

.beneficios h1 {
    color: white
}

.info h1 {
    font-size: 2em;
}

html {
    background-color: white;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: auto;
    padding: 0px;
    background-color: white;
    max-width: 1400px;
}



/* .container {
    max-width: 1000px;
    margin: auto;
} */

header {
    background-image: url(img/banner.png);
    width: auto;
    height: 160px;
}

/* header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

header nav {
    display: grid;
    grid-template-areas: "logo listamenu botonIngresar";
    grid-template-columns: min-content auto min-content;
    align-items: center;
    padding-top: 65px;
    /*  display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px; */
}

.logo {
    display: flex;
    align-items: center;
}

.logo-nombre {
    margin: 0;
    font-family: 'Londrina Solid', cursive;
    color: #FFBD59;
}

.logo-img {
    height: 50px;
    padding: 10px;
}

.listaMenu {
    padding: 0px 20px 0px 20px;
}

.nav-link {
    padding: 5px 12px;
    text-decoration: none;
    font-family: 'Londrina Solid', cursive;
    color: white;
    -moz-transition: font-size 150ms linear Os;
    -webkit-transition: font-size 150ms linear Os;
    transition: font-size 150ms linear 0s;
}

.nav-link:hover {
    background-color: #AA1916;
    font-size: 19px;
}

.botonIngresar {
    font-family: 'Londrina Solid', cursive;
    font-size: 1em;
    font-weight: bold;
    margin-right: 50px;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #000;
    color: white;
    text-shadow: 2px 2px 3px #000;
    background-color: #AA1916;
}

.botonIngresar:hover {
    background-color: #831210
}

.contacto {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacto div {
    width: 40%;
    padding: 10px;
}


.contacto-form {
    display: flex;
    justify-content: center;
    align-items: center;

    /* height: 400px;

position: absolute;
top: 50%;
-ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}

.contacto-form label {
    margin: 15px 0px 4px 0px;
}

.contacto-form form fieldset {
    display: flex;
    flex-direction: column;

}

.botonFormulario {
    font-family: 'Londrina Solid', cursive;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    text-shadow: 2px 2px 3px #000;
    background-color: #AA1916;
}

.botonFormulario:hover {
    background-color: #831210
}

.beneficios {
    background-color: #FFD881;
    border: 1px solid;
}

.beneficios h1 {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.beneficios-conteiner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.beneficios-item {
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.info {
    border: 1px solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
}

.ali-info-logo {
    height: 300px;
}

/* CSS Programa */

.programaSec1 {
    background-image: url(img/programaImg1.png);
    height: 587px;
    position: relative;
}

.programaTexto {
    width: 50%;
    padding: 5%;
}

.programaBar {
    padding: 10px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -80%);
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #838383;
    border: 3px solid #6b6a6a;
    border-radius: 20px;

}

.programaBarItem {
    display: flex;
    align-items: center;
    margin: 0px 10px 0px 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;

}

.programaBarItem img {
    filter: invert(100%);
    height: 25px;
}

.programaBarItem p {
    color: white;
    margin: 0px 10px 0px 10px;
    font-size: 20px;
}

.programaSec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


.programaBienvenidos h1 {
    margin: auto;
    background-color: #831210;
    color: white;
    width: fit-content;
    padding: 0px 20px;
}

.programaBienvenidos .videoContenedor {
    width: fit-content;
    padding: 20px 80px;
    background-color: #FFBD59;
    border: 5px solid #ff9a03;
}

.programaBienvenidos video {
    height: 350px;
    border: 1px solid black;
}



.programaPlanItem {
    margin: 10px;
    padding: 15px;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
    font-size: 25px;
}


#cronoCurso {
    border-color: #831210;
    color: #831210;
}

#planEstudio {
    border-color: #00265B;
    color: #00265B;
}

#neoLMS {
    border-color: #008F6D;
    color: #008F6D;
}

.programaSec3 {
    padding: 50px;
}

.programaSec3 h1 {
    text-align: center;

}


.rutaAprendiBarra {
    text-align: center;
}

.rutaAprendiTerminar {
    text-align: center;
    font-size: 8px;
    border: 3px solid #3c6ca8;
    width: 85%;
    margin: auto;
    padding: 15px;
}

.terminarCont {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.terminarContItems {
    display: flex;
    font-size: 20px;
    width: 30%;
    text-align: left;
}

.terminarContItems img {
    height: 40px;
}

.terminarContItems span {
    padding: 0px 10px;
}

.programaSec4 {
    background-color: #e6e6e6;

}

.programaSec4 h1 {
    text-align: center;
}

.requisitosCont {

    display: flex;
    justify-content: space-evenly;

}

.requisitosContItems {
    padding: 40px;
    width: 30%;
    text-align: center;
}


.requisitosCont img {
    height: 100px;
}

/* ---- */
main {
    background-color: white;
}

footer {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    grid-template-areas:
        "logoFooter listaMenu socials"
        "textoFooters textoFooters textoFooters";

    height: 170px;
    background-image: url(img/Footerbckg.png);
}

.textoFooter {
    grid-area: textoFooters;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 16px;
    color: #787878;
    font-weight: 700;
}

.socials {
    grid-area: socials;
    height: 50px;
}

.logoFooter {
    grid-area: logoFooter;
    height: 50px;
    border: 1px solid #831210;
    border-radius: 50px;
    background-color: #831210;
}